.home__container{
    min-height: 70vh;
}


.home__wrapper{
    display: grid;
    place-items: center;
    gap: 5rem;
}

.home__logo__div{
    width: 400px;
}

.home__logo__div img{
    animation: wiggle 3.3s ease-in-out infinite alternate;
}

@keyframes wiggle {
    0%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(0);
    }
}


@media screen and (max-width: 600px) {
    .home__logo__div{
        width: 60%;
    } 
}