@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


:root{
    --bg-color: #AAA;
    --accent-color: #4d0b0b;
    --accent-color-dark: #320002;
    --color-white: #fff;

    --container-width-lg: 80%;
    --container-width-md: 90%;

    --transition: all 500ms ease;
}



/*==========GENERAL STYLES========*/
::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}

body{
    font-family: Montserrat, Poppins, Arial, Helvetica, sans-serif;
    color: #000;
    line-height: 1.7;
    overflow-x: hidden;
    background: var(--bg-color);
}


.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}

section{
    margin-top: 8rem;
}
h1,h1,h3,h4,h5{
    line-height: 1.2;
    color: #000;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

a {
    color: var(--bg-color);
}

img {
    display: block;
    object-fit: cover;
    width: 100%;
}
hr{
    background: var(--accent-color);
    height: 1px;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

input{
    height: 42px;
    border-radius: 2rem;
    text-indent: 15px;
}

p{
    word-wrap: break-word;  
}

.btn {
    color: var(--bg-color);
    width: fit-content;
    height: 42px;
    padding: 0.9rem 2rem;
    background: var(--accent-color);
    border-radius: 1.5rem;
    transition: var(--transition);
}

.single__page__li{
    margin-left: 2rem;
    font-weight: 600;
}

.btn:hover{
    cursor: pointer;
    color: var(--color-white);
}


/*=========RESPONSIVE FOR TABLETS=============*/
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 2.6rem;
    }
}


/*=========RESPONSIVE FOR PHONES=============*/
@media screen and (max-width: 600px) {
    h1, h2{
        font-size: 2.2rem;
        line-height: 1.3;
    }
}